.advantages {
  padding: 16px 0;
  padding-bottom: 123px;

  text-align: center;
  color: $secondary-color;
  background-image: linear-gradient(174.4deg, transparent 13.5%, #f2f2f2 13.5%);
}

.advantages br {
  display: none;
}

.advantages__list {
  @include list-reset();

  padding: 65px 30px;
  padding-bottom: 285px;

  background-image: url("/img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 109%;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__caption {
  padding: 0 30px;
  margin-bottom: 29px;

  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
}

.advantages__title {
  margin-bottom: 14px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: $black-color;
}

.advantages__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.advantages__performance {
  display: none;

  background-color: $white-color;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 44px 0;
    padding-bottom: 99px;

    background-image: linear-gradient(175.5deg, transparent 20.5%, #f2f2f2 20.5%);
  }

  .advantages br {
    display: inline;
  }

  .advantages__caption {;
    font-size: 40px;
    line-height: 47px;
    margin: 3px 0;
  }

  .advantages__list {
    padding-top: 100px;
    padding-left: 50%;
    padding-bottom: 7px;

    text-align: left;

    background-image: url("/img/iphone-screen-mobile@1x.png");
    background-position: left top;
  }

  .advantages__text {
    margin-bottom: 33px;
  }

  .advantages__performance {
    display: block;
    padding-left: 50%;
    padding-right: 30px;
    padding-top: 66px;
    padding-bottom: 84px;

    text-align: left;
  }

  .advantages__title--perf {
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 36px;
  }

  .advantages__text--perf {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }

  .advantages__link {
    font-size: 14px;
    line-height: 24px;
    color: $primary-color;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 66px 0;
    padding-bottom: 57px;
  }

  .advantages__caption {
    margin: 2px 0;

    font-size: 50px;
    line-height: 59px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    padding: 73px 130px;
    padding-bottom: 0;

    text-align: center;

    background-image: none;
  }

  .advantages__item {
    position: relative;

    width: 300px;
  }

  .advantages__item::before {
    content: "";

    display: block;
    margin: 0 auto;
    height: 302px;
    width: 292px;
  }

  .advantages__item--mood::before {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
  }

  .advantages__item--world::before {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }

  .advantages__item--firends::before {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }

  .advantages__title {
    margin-top: 56px;
    padding: 0 30px;
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 30px;
  }

  .advantages__text {
    padding: 0 30px;

    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
  }

  .advantages__performance {
    display: block;
    padding-top: 64px;
    padding-left: 496px;
    padding-right: 150px;
    padding-bottom: 113px;

    background-color: #f2f2f2;
  }

  .advantages__performance br {
    display: none;
  }

  .advantages__title--perf {
    margin-bottom: 21px;
  }

  .advantages__text--perf {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;

    margin-bottom: 30px;
  }

  .advantages__link {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
  }
}
