.catcher {
  width: 100%;
  padding: 16px;
  padding-top: 27px;

  text-align: center;
}

.catcher__btn {
  margin-bottom: 28px;
}

.catcher__img {
  margin: 0 16px;
  margin-bottom: 8px;
}

.catcher__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  color: $white-color;
}

@media (min-width: $tablet-width) {
  .catcher {
    padding: 0;

    background-color: transparent;
  }

  .catcher__btn {
    margin-bottom: 40px;
  }

  .catcher__img {
    margin-bottom: 17px;
  }

  .catcher__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .catcher__btn {
    margin-bottom: 65px;
  }

  .catcher__img {
    margin-bottom: 35px;
  }
}
