.comment {
  @include list-reset();

  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  color: $secondary-color;
}

.comment__author {
  font-weight: bold;
}

.comment__time {
  text-transform: uppercase;
}

.comment__likes-count {
  text-transform: uppercase;
  color: $primary-color;
}

@media (min-width: $tablet-width) {
  .comment {
    display: flex;
    flex-wrap: wrap;
  }

  .comment__item {
    width: 300px;
  }
}
