.contacts {
  text-align: center;
}

.contacts__capture {
  width: 300px;
  margin: 0 auto;

  font-size: 24px;
  font-weight: lighter;
  color: $secondary-color;
}

.contacts__list {
  @include list-reset;
}

.contacts__info {
  font-size: 18px;
  font-weight: bold;
  color: $secondary-color;
}

.contacts__link {
  font-size: 24px;
  font-weight: lighter;
  color: $primary-color;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 400px;
  }
}
