.contacts__capture {
  font-size: 24px;
  font-weight: lighter;
  color: $secondary-color;
}

.contacts__info {
  font-size: 18px;
  font-weight: bold;
  color: $secondary-color;
}

.contacts__link {
  font-size: 24px;
  font-weight: lighter;
  color: $primary-color;
  text-decoration: none;
}
