.options-table__header {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white-color;
}

.options-table__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: $white-color;
}

.options-table__data {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: $secondary-color;
}
