.page-header {
  position: relative;

  min-height: 730px;

  background-color: #283645;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 488px;
  background-position: top center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 660px 488px;
  }
}

.page-header__title {
  display: none;
}

.page-header__catcher {
  margin-top: auto;

  background-color: #1d2631;
}

.page-header::after {
  content: "";

  position: absolute;
  bottom: 271px;
  left: calc(50% - 129px);

  width: 258px;
  height: 286px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 735px;
  padding-top: 69px;
  margin-top: -69px;
}

.page-header__caption {
  display: none;

  text-align: center;
  color: #ffffff;
  font-weight: lighter;
}

/* inner */

.page-header--inner {
  min-height: 237px;
  padding-bottom: 66px;

  text-align: center;
}

.page-header--inner::after {
  display: none;
}

.page-header__caption--inner {
  margin-top: 30px;
  padding: 0 20px;

  font-size: 24px;
  text-align: center;
  color: $white-color;
  font-weight: lighter;
}

/* form */

.page-header--form {
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px 730px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: calc(50% - 330px);
    z-index: 1;

    display: block;
    width: 660px;
    height: 549px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: center bottom;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 660px;
    }
  }

  .page-header__wrapper {
    position: relative;
    z-index: 5;

    flex-direction: column;
    height: 730px;
    padding-right: 330px;
    padding-left: 10px;
    padding-top: 110px;
    margin-top: -110px;
    padding-bottom: 3px;

    text-align: center;
  }

  .page-header__caption {
    display: block;
    margin-top: auto;
    padding: 0 40px;

    font-size: 40px;
    line-height: 48px;
  }

  .page-header__catcher {
    margin-top: 0;
    margin-bottom: auto;
  }

  /* inner */

  .page-header--inner {
    min-height: 440px;
    padding-bottom: 1px;
  }

  .page-header--inner::after {
    display: none;
  }

  .page-header__caption--inner {
    margin-top: 70px;

    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    height: 853px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .page-header::after {
    left: calc(50% - 525px);

    width: 1050px;
    height: 645px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: center bottom;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: cover;
    }
  }

  .page-header__wrapper {
    width: 940px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    padding-right: 639px;
  }

  .page-header__caption {
    margin-top: 110px;
    margin-bottom: 51px;
    padding: 0;

    font-size: 50px;
    line-height: 60px;
  }

  .page-header__btn {
    display: none;
  }

  /* inner */

  .page-header--inner {
    min-height: 394px;
    height: auto;
  }

  .page-header--inner::after {
    display: none;
  }

  .page-header__caption--inner {
    width: 400px;
    margin: 65px auto;
    margin-bottom: 30px;
  }

  .page-header__caption--inner-form {
    width: 800px;
  }
}
