.page-footer {
  display: flex;
  justify-content: space-between;
  min-height: 110px;
}

.page-footer--index {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer--index {
    display: flex;
    justify-content: space-around;
  }
  .page-footer__item {
    width: 150px;
  }
}
