.page-header {
  position: relative;

  min-height: 730px;

  background-color: #283645;
}

.page-header__title {
  display: none;
}

.page-header__catcher {
  margin-top: auto;

  background-color: #1d2631;
}

.page-header::after {
  content: "";

  position: absolute;
  bottom: 271px;
  left: 0;

  width: 258px;
  height: 286px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 735px;
  padding-top: 69px;
  margin-top: -69px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* inner */

.page-header--inner {
  min-height: 237px;
  padding-bottom: 66px;

  text-align: center;
}

.page-header--inner::after {
  display: none;
}

.page-header__caption--pictures {
  margin-top: 30px;
  padding: 0 20px;

  font-size: 24px;
  text-align: center;
  color: $white-color;
  font-weight: lighter;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-header__wrapper {
    flex-direction: column;
    height: 730px;
    padding-right: 330px;
    padding-left: 10px;
    padding-top: 110px;
    margin-top: -110px;
    padding-bottom: 3px;

    text-align: center;
  }

  .page-header__caption {
    display: block;
    margin-top: auto;
    padding: 0 40px;

    font-size: 40px;
    line-height: 48px;
  }

  .page-header__catcher {
    margin-top: 0;
    margin-bottom: auto;
  }

  .page-header::after {
    content: none;
    width: 700px;
    height: 545px;

    background-image: url("../img/iphone-hand-tablet@1x.png1");
  }

  /* inner */

  .page-header--inner {
    min-height: 440px;
  }

  .page-header__caption--pictures {

  }
}

@media (min-width: $desktop-width) {
  .page-header {
    height: 853px;
  }

  .page-header__wrapper {
    width: 940px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    padding-right: 639px;
  }

  .page-header__caption {
    margin-top: 110px;
    margin-bottom: 51px;
    padding: 0;

    font-size: 50px;
    line-height: 60px;
  }

  .page-header__btn {
    display: none;
  }

  .page-header::after {
    background-image: url("../img/iphone-hand-desktop@1x.png");
  }

  /* inner */

  .page-header--inner {
    min-height: 394px;
    height: auto;
  }
}
