.upload {
  width: 320px;
  margin: 0 auto;
  padding: 20px 0;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .upload {
    width: 100%;
    padding-top: 43px;
    padding-bottom: 3px;

    background-color: #f2f2f2;
  }

  .upload__form {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    width: 940px;
    padding: 43px 80px;
    padding-right: 60px;
    padding-bottom: 54px;
  }

  .upload__form {
    width: 100%;
  }
}
