$primary-color: #d22856;
$secondary-color: #283645;
$white-color: #ffffff;
$gray-color: #f2f2f2;
$black-color: #000000;

$ff-primary: "Open Sans", arial, sans-serif;

$tablet-width: 660px;
$desktop-width: 1200px;
